@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-belgrano: "Belgrano", serif;
    --color-primary: #194D2E;
    --color-background: #F5EFE6;
}

body::-webkit-scrollbar {
    display: none;
}
