@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-belgrano: "Belgrano", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --color-primary: #194D2E;
    --color-secondary: #4F6F51;
    --color-cream: #E8DFCA;
    --color-background: #F5EFE6;
    --color-text-light: #E3E3E3;
    --color-text-dark: #4B5563;
    --color-comingsoon: #666;
}

body::-webkit-scrollbar {
    display: none;
}

.nav-menu,
.auth-group {
    @apply flex;
}